<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <!-- <ul class="list-inline mb-2">
        <li class="list-inline-item">
          <a href="#">About</a>
        </li>
        <li class="list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="#">Contact</a>
        </li>
        <li class="list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="#">Terms of Use</a>
        </li>
        <li class="list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="#">Privacy Policy</a>
        </li>
      </ul> -->

        <p class="text-muted small mb-lg-2 mb-lg-0">
          &copy; Stablecoin Labs 2020. All Rights Reserved.
        </p>
      </div>

      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="https://twitter.com/GyroStable">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/stablecoin-labs">
              <i class="fab fa-github fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
