h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  padding: 1em 0;
  @media (min-width: 768px) {
    padding: 1.5em 0;
  }
}

p.logo {
  margin: auto;
  width: 200px;

  img {
    width: 100%;
    margin: 1em 0;
  }
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #949090 !important;
}
