.post {
  p {
    font-size: 1.2rem;
    text-align: justify;
  }

  .twitter-tweet {
    margin: auto;
  }

  .titanic {
    img {
      max-width: 600px;
    }
    margin: auto;
    display: block;
    text-align: center;
    padding-bottom: 1em;
  }
}

