.whitepaper {
  header.title {
    margin: auto;
    text-align: center;
    margin-top: 3em;
  }

  figure {
    text-align: center;
  }

  img {
    width: 80%;
  }

  .logo {
    margin: auto;
    width: 200px;
  }

  .logo img {
    width: 100%;
  }

  main p {
    text-align: justify;
    font-size: 1.2rem;
  }
}
