
.bottom-cta {
	background: $brand-color;
	// background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.balancer {
	background: $brand-color;
	// background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 140px 0;
	

	h2 {
		margin-bottom: 50px;
	}
}

// .timeline {
// 	background: $brand-color;
// 	// background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
// 	color: #fff;
// 	text-align: center;
// 	margin: 0;
// 	padding: 140px 0;
	

// 	h2 {
// 		margin-bottom: 50px;
// 	}
// }

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: $brand-color;
	// background: linear-gradient(
	// 	167deg,
	// 	$brand-color 50%,
	// 	$middle-gradient-color 65%,
	// 	$secondary-brand-color 100%
	//   );
  margin: 50px 0 30px 0;
  @media #{$desktop} {
    margin: 240px 0 200px 0;
  }
	// height: calc(100vh - 60px);

	p {
		color: #fff;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.team-top {
  margin-top: 10rem;
  .square-image {
    width: 200px;
    height: 200px;
  }

  .bio {
    font-size: 1.1rem;
    text-align: left;
  }

  .links a {
    color: white;
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

.timeline {
  margin-top: 10em;
  img {
    max-width: 100%;
  }
}


.enter {
  margin-top: 10em;
}

.supporters {
  margin-top: 8em;
}
