$brand-color: rgba(0, 0, 0, 1);
$secondary-brand-color: rgba(246, 183, 120, 1);
$middle-gradient-color:  rgba(3, 57, 45, 1);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
